/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  width:auto;
    /*background-color: #777979;*/
}

header {
  text-align: center;  /*url('./stars.jpg'); */
  background: url('https://c1.staticflickr.com/5/4479/26174797999_69e94eb84f_k.jpg');
  background-size: cover;
  color: white;
}




header.index {
  text-align: center;
  background: url('./blue.jpg');
  background-size: cover;
  color: white;}
  /*position: absolute;*/


h1{
  font-size: 44px;
  margin-left:30px;
}


/* header class covers the self made nav bar*/
.headerclass a {
      color:white;
 }

 .headerclass ul {
      padding: 20px;
      background:#6b6b6b; 
      text-align: center;
      font-size:130%;
    }

 .headerclass li {
      display: inline;
      font-size:130%;
      padding: 0px 10px 0px 10px;
    }

img.header_image{
      margin: 20px 0px 0px 0px;
      position: center;
      border: 7px solid white;
      border-radius: 15px;  
      width:250px; /* you can use % */  
      height: auto;     

}


/* Consistent NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
 position: relative;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5;
}
.navbar-wrapper .navbar {
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
}

/*Make the nav bar transparent*/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   padding-bottom: 2px;
   margin-left: 0px;
  position: absolute;

}

.navbar li { color: #000 } 

.navbar .navbar-inverse .navbar-static-top{
  width:100%;

}


/* Instead the wrapper is given a transparent gradient*/
.navbar-wrapper {
  position: relative;
  height:50px;
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5));
  background: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5));
 /* padding: 10px;*/
  line-height: 28px;
  text-align: justify;
  /*position: absolute;*/
 /* bottom: 0;
  margin: 0;*/
}

.form-inline{
  position:right;
}

/* THE CAROUSEL*/
/* Carousel base class margin-top: 50px;*/
.carousel {
  height: auto;
  margin-bottom: 0px;
  padding-top: 0%;

}

.slide{
  position: center;
}

/* caption */
.carousel-caption {
  z-index: 20;
  text-align: right;

}


/* contact pictire
-------------------------------------------------- */
.contact .col-lg-12 {
  margin-bottom: 20px;
  text-align: center;
}
.contact h2 {
  font-weight: normal;
}
.contact .col-lg-12 p {
  margin-right: 10px;
  margin-left: 10px;
}
.contact img{
   /*margin: 40px 0px 0px 0px;*/
   border: 7px solid #FBFFFF ;/*#777979;/*#91bef4;*/
   border-radius: 20px;    
   margin: auto
}



/* News Features
------------------------- */


.featurette-divider {
  margin: 30px 0px 30px 0px ; 
}

.features {
   margin: 30px 20px 30px 20px ;  
}

/*first feature has less space above it*/
.featurette-divider-first {
  margin: 0px 0px 40px 0px ; 
}
.featurette-divider .featurette-divider-first p {
  margin-right: 30px  ; 
}
/* Thin out the marketing headings */
.featurette-heading {
  color:white;/*rgb(240, 240, 240);*/
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
margin-top: 20px;
font-size: 35px;
    padding-bottom:10px;
}

.featurette-heading .text-muted h2 {
  padding: 20px;
  margin-top:20px;
    color:white;
  }

.featurette-image img {
  /* margin: 40px 0px 0px 0px;*/
  border: 7px solid white;
 border-radius: 0px;
width: 95% ;/*250px; /* you can use % */  
height: auto;
padding-top:50px;
      

}


iframe{
  text-align:center;
  /*position: center;*/
  padding-top:10px;
  padding-bottom:10px;
  /*padding:auto;*/
  /*display:block;
  *text-align: center;*/
  margin: auto;


}


/*Blog*/
.blog-image{
    padding: 20px 5px 20px 5px;
    width:100%; /* you can use % */
    height: auto;
    border: 7px solid white;
    margin-left:auto;
     margin-right: auto;
}

.blog-image-small{
    padding: 10px 2px 10px 2px;

    width:100%; /* you can use % */
    height: auto;
    border: 7px solid white;
margin-left:auto;
     margin-right: auto;


}


.figure {
    padding: 15px;
    margin-left:auto;
     margin-right: auto;
}
.blog-header{
  padding : 15px;
}


/*Pricing*/
.price-image{
    padding: 30px 10px 30px 10px;
    width:100%; /* you can use % */
    height: auto;
}
.price-header{
  padding : 15px;
}
.blog-post p{
  padding:0px 20px 0px 20px;
}

.featuretest{
    background-image: url('./index_images/soviet.jpg');
    background-repeat: no-repeat;
    background-position: 55% 20%;
    background-clip: padding-box;
    background-size: 115%;
    padding: 7.5%;/*73px;*/
    margin-top:10px;
    text-align: center;
}

.featuretest h2{

margin-bottom:0px;
margin-right:10px;
margin-top:10px;
 position: relative;
    top: -40px; /* This will move it 20px up */
    left: 10px; /* This will move it 20px to the right */
  
background:rgba(143, 181, 200,.5);
 /* background: linear-gradient(top, rgba(143, 181, 200,1), rgba(143, 181, 200,.5));
  background: -webkit-linear-gradient(top, rgba(143, 181, 200,1), rgba(143, 181, 200,.5));
  background: -moz-linear-gradient(top, rgba(143, 181, 200,1), rgba(143, 181, 200,.5));*/

}





/* RESPONSIVE CSS
-------------------------------------------------- */
/* change dropdown background when viewing on small screens*/

/* Still a viewing problem on mobile to be corrected*/







/* and on small screens increase the padding Landscape phoenes and portrati tablets*/
@media (max-width: 767px){
.carousel {
  height: auto;
  margin-bottom: 0px;
  padding-top: 2%;
}
.navbar-wrapper{
  padding-bottom: 2%;
}
.navbar-collapse { background:#3d424d;}

.navbar {
font-size: 14px;
}
.carousel-caption p {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.0;
  }
.carousel-caption h1 {
margin-top: 15px;
    font-size: 16px;
    line-height: 1.0;
}

iframe{
  text-align:center;
 /* position: center;*/
 padding-top: 7%;/*10px;*/
   padding-bottom:10px;
  /* padding:auto;*/
display:block;
 /*text-align: center;*/
 margin: auto;
}

.featurette-heading {
margin-top: 20px;
font-size: 25px;

}
.featuretest h2{
margin-bottom:0px;
margin-right:10px;
margin-top:10px;
 position: relative;
    top: -10px; /* This will move it 20px up */
    left: 10px; /* This will move it 20px to the right */

}

/* change for larger screens Portrait tablets and small desktops*/
@media (min-width: 768px ) {
  /* Navbar positioning*/
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* round the corners of nav bar */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

/* addition*/
  .carousel {
  height: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0%;
}
.navbar-wrapper{
  padding-bottom: 2%;
}

/* Carousel */
/* make writing larger on smaller screens*/
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.4;
  }

iframe{
  text-align:center;
 /* position: center;*/
 padding-top: 10px;
   padding-bottom:10px;
  /* padding:auto;*/

 /*text-align: center;*/
 margin: auto;
}

}





/* On really wide screens space out the margins more Landscape tablets and medium desktops*/
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

}


/* Media for the gallery main */
.show-description p {
height: 150px;
}

.show-description small {
opacity: 1;
}
.first p , .second p , .third p{
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  height:30px;
  
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  /*position: absolute;*/
  bottom: 0;
  margin: 0;
  transition:height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.gallery_main div.first1 {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

.gallery_main h1 {
  font-family: 'Roboto Condensed', sans-serif;;
  text-align: center;
  font-size: 75px;
  color: #3d424d;
  margin: 0px 0px 0px 0;
  padding-top:60px;
}
.gallery_main h2 {
  text-align: center;
  color: #3d424d;
  margin: 0px 0 70px 0;
}

.gallery_main p {
  text-align: center;
}

div.first1{
  background-image: url("https://c1.staticflickr.com/5/4512/36805034144_961b5a6c03_k.jpg");
}

.price {
  float: right;
}
.gallery_main small{
  opacity: 0;}

@media (max-width: 800px){
.gallery_main h1{
font-size: 50px;
margin-top: 20px;
line-height: 40px;
}
.gallery_main h2{
  font-size: 20px;
  margin: 20px 0 30px 0;
}
.gallery_main div{
margin: 20px 12px 0 12px;
}}

/* Styles for gallery 1+ */


.gallery_1 h1 {
  font-family: 'Roboto Condensed', sans-serif;;
  text-align: center;
  font-size: 75px;
  color: #3d424d;
  margin: 0px 0px 0px 0;
  padding-top:60px;
}
.gallery_1 h2 {
  text-align: center;
  color: #3d424d;
  margin: 0px 0 70px 0;
}

.gallery_1 p {
  text-align: center;
}

/* Styles for gallery 1+ */
.gallery_1 .price {
  float: right;
}

.gallery_1 small{
  opacity: 0;}



/* Just trying to fix one side */
.outer {
    border:solid 1px #000;
    height:200px;
}

.leftcol {
  /* position: fixed;
   top: 0%;
   left: 0%; */
   border:solid 1px green;
   overflow:hidden;
}

.rightcol {
   /* border:solid 1px red;
   position: relative;
   top: 0%;
   left: 50%;  */
   border:solid 1px red; 
   overflow-y: scroll;
   height: 200px;
}







