/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

  header {

      text-align: center;

      background: url('https://c1.staticflickr.com/5/4479/26174797999_69e94eb84f_k.jpg');

      background-size: cover;

      color: white;

    }







/* header class is the self made nav bar*/
.headerclass a {
      color:white;

 }

 .headerclass ul {
      padding: 20px;
      background:rgba(0,0,0,0.5); 





      text-align: center;
    }

 .headerclass li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }


img.header_image{
      margin: 80px 0px 0px 0px;
      position: center;
      border: 7px solid white;
      border-radius: 15px;  
      width:250px; /* you can use % */  
      height: auto;
   

      
      
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 2px;
  padding-left: 2px;
}



.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   padding-bottom: 2px;
}

.navbar li { color: #000 } 





.navbar .navbar-inverse .navbar-static-top{
  width:100%;

}




.navbar-wrapper {
    
   /* width: 100%;*/
   /* background-color:rgba(0,0,0,0.5);
    /*background-color: #000000;*/
  height:50px;

  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5));

  
  background: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5));
 /* padding: 10px;*/
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  transition:height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;


}

.form-inline{
  position:right;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 2%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 20;
  text-align: right;

}

/* Declare heights because of positioning of img element */
/*.carousel .item {
  height: 500px;
  background-color: #777;
}
/*.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}*/






/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing img{
   margin: 40px 0px 0px 0px;
      border: 7px solid blue;
      border-radius: 20px;  
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0 ; /* Space out the Bootstrap <hr> more */

}
.featurette-divider p {
  margin-right: 30px  ; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image img {
   margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;  
      width:250px; /* you can use % */  
      height: auto;

}


/*Blog*/
.blog-image{
  padding: 10px;

    width:100%; /* you can use % */
    height: auto;
}
.figure {
    padding: 15px;
}

.blog-header{
  padding : 15px;
}

/* Centre the lower nav bar*/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }



  .featurette-heading {
    font-size: 54px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}